.showing-slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -9999; /* Ustawiamy wysoki indeks warstwy, aby komponent był na wierzchu */
    
    .color {
      height: calc(100vh / 6);
    
      div {
        height: calc(100vh / 6);
        width: 0;
      }
    
      .red {
        background: rgba(158, 209, 243, 1);
        animation-name: slide;
        animation-duration: 2.5s;
        animation-iteration-count: 1;
      }
    
      .orange {
        background: rgba(158, 209, 243, 0.9);
        animation-name: slide;
        animation-duration: 2.5s;
        animation-iteration-count: 1;
        animation-delay: 0.1s;
      }
    
      .yellow {
        background: rgba(158, 209, 243, 0.8);
        animation-name: slide;
        animation-duration: 2.5s;
        animation-iteration-count: 1;
        animation-delay: 0.2s;
      }
    
      .green {
        background: rgba(158, 209, 243, 0.7);
        animation-name: slide;
        animation-duration: 2.5s;
        animation-iteration-count: 1;
        animation-delay: 0.3s;
      }
    
      .blue {
        background: rgba(158, 209, 243, 0.6);
        animation-name: slide;
        animation-duration: 2.5s;
        animation-iteration-count: 1;
        animation-delay: 0.4s;
      }
    
      .purple {
        background: rgba(158, 209, 243, 0.5);
        animation-name: slide;
        animation-duration: 2.5s;
        animation-iteration-count: 1;
        animation-delay: 0.5s;
      }
    }
    
    @keyframes slide {
      10% {
        width: 0;
        float: left;
      }
      37% {
        width: 100%;
        float: left;
      }
      63% {
        width: 100%;
        float: right;
      }
      90% {
        width: 0;
        float: right;
      }
      100% {
        width: 0;
        float: right;
        z-index: -100;
      } 
    }
  
    animation-fill-mode: forwards;
    // display: none;

  }
  